absl-py==1.4.0
amqp==5.1.1
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.22.0
billiard==3.6.4.0
bleach==5.0.0
blinker==1.6.2
boto3==1.34.7
botocore==1.34.7
cachelib==0.10.2
cachetools==5.3.2
celery==5.1.2
certifi==2023.11.17
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmake==3.22.2
colorama==0.4.5
contourpy==1.1.0
croniter==1.3.5
cryptography==41.0.7
cycler==0.10.0
Cython==3.0.7
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.12.3
djangorestframework==3.12.4
dlib==19.17.0
dnspython==2.2.1
docopt==0.6.2
docutils==0.18.1
EasyProcess==1.1
entrypoint2==1.1
entrypoints==0.4
eventlet==0.33.1
executing==0.8.3
face-recognition==1.3.0
face-recognition-models==0.3.0
face-utils==0.1.0
fastjsonschema==2.15.3
filelock==3.13.1
fire==0.5.0
Flask==2.3.2
Flask-Cors==3.0.10
flask-ngrok==0.0.25
Flask-Session==0.5.0
flask-sock==0.5.2
Flask-SocketIO==5.3.6
flatbuffers==23.5.26
fonttools==4.40.0
fsspec==2023.12.2
future==0.18.2
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
gevent==21.12.0
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
greenlet==1.1.2
grpcio==1.60.0
grpcio-status==1.60.0
gTTS==2.3.2
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.20.1
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
imutils==0.5.4
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
json5==0.9.8
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
Kivy==2.1.0
Kivy-examples==2.1.0
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.0
kiwisolver==1.4.4
kombu==5.2.4
lapx==0.5.5
Markdown==3.3.6
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.3
mediapipe==0.10.1
mistune==0.8.4
mljar-mercury==0.8.1
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.2.1
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.23.5
oauthlib==3.2.2
opencv-contrib-python==4.8.0.74
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
packaging==21.3
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
pep517==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pipreqs==0.4.11
playsound==1.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
proto-plus==1.23.0
protobuf==4.25.1
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.11
PyAutoGUI==0.9.54
pybboxes==0.1.6
pycparser==2.21
pydub==0.25.1
PyFladesk==1.1
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.11.2
PyJWT==2.3.0
PyMsgBox==1.0.9
pyobjc==8.3
pyobjc-core==8.3
pyobjc-framework-Accessibility==8.3
pyobjc-framework-Accounts==8.3
pyobjc-framework-AddressBook==8.3
pyobjc-framework-AdServices==8.3
pyobjc-framework-AdSupport==8.3
pyobjc-framework-AppleScriptKit==8.3
pyobjc-framework-AppleScriptObjC==8.3
pyobjc-framework-ApplicationServices==8.3
pyobjc-framework-AppTrackingTransparency==8.3
pyobjc-framework-AudioVideoBridging==8.3
pyobjc-framework-AuthenticationServices==8.3
pyobjc-framework-AutomaticAssessmentConfiguration==8.3
pyobjc-framework-Automator==8.3
pyobjc-framework-AVFoundation==8.3
pyobjc-framework-AVKit==8.3
pyobjc-framework-BusinessChat==8.3
pyobjc-framework-CalendarStore==8.3
pyobjc-framework-CallKit==8.3
pyobjc-framework-CFNetwork==8.3
pyobjc-framework-ClassKit==8.3
pyobjc-framework-CloudKit==8.3
pyobjc-framework-Cocoa==8.3
pyobjc-framework-Collaboration==8.3
pyobjc-framework-ColorSync==8.3
pyobjc-framework-Contacts==8.3
pyobjc-framework-ContactsUI==8.3
pyobjc-framework-CoreAudio==8.3
pyobjc-framework-CoreAudioKit==8.3
pyobjc-framework-CoreBluetooth==8.3
pyobjc-framework-CoreData==8.3
pyobjc-framework-CoreHaptics==8.3
pyobjc-framework-CoreLocation==8.3
pyobjc-framework-CoreMedia==8.3
pyobjc-framework-CoreMediaIO==8.3
pyobjc-framework-CoreMIDI==8.3
pyobjc-framework-CoreML==8.3
pyobjc-framework-CoreMotion==8.3
pyobjc-framework-CoreServices==8.3
pyobjc-framework-CoreSpotlight==8.3
pyobjc-framework-CoreText==8.3
pyobjc-framework-CoreWLAN==8.3
pyobjc-framework-CryptoTokenKit==8.3
pyobjc-framework-DataDetection==8.3
pyobjc-framework-DeviceCheck==8.3
pyobjc-framework-DictionaryServices==8.3
pyobjc-framework-DiscRecording==8.3
pyobjc-framework-DiscRecordingUI==8.3
pyobjc-framework-DiskArbitration==8.3
pyobjc-framework-DVDPlayback==8.3
pyobjc-framework-EventKit==8.3
pyobjc-framework-ExceptionHandling==8.3
pyobjc-framework-ExecutionPolicy==8.3
pyobjc-framework-ExternalAccessory==8.3
pyobjc-framework-FileProvider==8.3
pyobjc-framework-FileProviderUI==8.3
pyobjc-framework-FinderSync==8.3
pyobjc-framework-FSEvents==8.3
pyobjc-framework-GameCenter==8.3
pyobjc-framework-GameController==8.3
pyobjc-framework-GameKit==8.3
pyobjc-framework-GameplayKit==8.3
pyobjc-framework-ImageCaptureCore==8.3
pyobjc-framework-IMServicePlugIn==8.3
pyobjc-framework-InputMethodKit==8.3
pyobjc-framework-InstallerPlugins==8.3
pyobjc-framework-InstantMessage==8.3
pyobjc-framework-Intents==8.3
pyobjc-framework-IntentsUI==8.3
pyobjc-framework-IOSurface==8.3
pyobjc-framework-iTunesLibrary==8.3
pyobjc-framework-KernelManagement==8.3
pyobjc-framework-LatentSemanticMapping==8.3
pyobjc-framework-LaunchServices==8.3
pyobjc-framework-libdispatch==8.3
pyobjc-framework-LinkPresentation==8.3
pyobjc-framework-LocalAuthentication==8.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.3
pyobjc-framework-MailKit==8.3
pyobjc-framework-MapKit==8.3
pyobjc-framework-MediaAccessibility==8.3
pyobjc-framework-MediaLibrary==8.3
pyobjc-framework-MediaPlayer==8.3
pyobjc-framework-MediaToolbox==8.3
pyobjc-framework-Metal==8.3
pyobjc-framework-MetalKit==8.3
pyobjc-framework-MetalPerformanceShaders==8.3
pyobjc-framework-MetalPerformanceShadersGraph==8.3
pyobjc-framework-MetricKit==8.3
pyobjc-framework-MLCompute==8.3
pyobjc-framework-ModelIO==8.3
pyobjc-framework-MultipeerConnectivity==8.3
pyobjc-framework-NaturalLanguage==8.3
pyobjc-framework-NetFS==8.3
pyobjc-framework-Network==8.3
pyobjc-framework-NetworkExtension==8.3
pyobjc-framework-NotificationCenter==8.3
pyobjc-framework-OpenDirectory==8.3
pyobjc-framework-OSAKit==8.3
pyobjc-framework-OSLog==8.3
pyobjc-framework-PassKit==8.3
pyobjc-framework-PencilKit==8.3
pyobjc-framework-Photos==8.3
pyobjc-framework-PhotosUI==8.3
pyobjc-framework-PreferencePanes==8.3
pyobjc-framework-PushKit==8.3
pyobjc-framework-Quartz==8.3
pyobjc-framework-QuickLookThumbnailing==8.3
pyobjc-framework-ReplayKit==8.3
pyobjc-framework-SafariServices==8.3
pyobjc-framework-SceneKit==8.3
pyobjc-framework-ScreenSaver==8.3
pyobjc-framework-ScreenTime==8.3
pyobjc-framework-ScriptingBridge==8.3
pyobjc-framework-SearchKit==8.3
pyobjc-framework-Security==8.3
pyobjc-framework-SecurityFoundation==8.3
pyobjc-framework-SecurityInterface==8.3
pyobjc-framework-ServiceManagement==8.3
pyobjc-framework-ShazamKit==8.3
pyobjc-framework-Social==8.3
pyobjc-framework-SoundAnalysis==8.3
pyobjc-framework-Speech==8.3
pyobjc-framework-SpriteKit==8.3
pyobjc-framework-StoreKit==8.3
pyobjc-framework-SyncServices==8.3
pyobjc-framework-SystemConfiguration==8.3
pyobjc-framework-SystemExtensions==8.3
pyobjc-framework-UniformTypeIdentifiers==8.3
pyobjc-framework-UserNotifications==8.3
pyobjc-framework-UserNotificationsUI==8.3
pyobjc-framework-VideoSubscriberAccount==8.3
pyobjc-framework-VideoToolbox==8.3
pyobjc-framework-Virtualization==8.3
pyobjc-framework-Vision==8.3
pyobjc-framework-WebKit==8.3
pyOpenSSL==23.3.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt6==6.2.3
PyQt6-Qt6==6.2.3
PyQt6-sip==13.2.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
pyrsistent==0.18.1
pyscreenshot==3.1
PyScreeze==0.1.29
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.8.0
python-for-android==2022.7.20
python-magic==0.4.27
python-socketio==5.10.0
python-vlc==3.0.16120
pytoml==0.1.21
pyttsx3==2.90
pytweening==1.0.7
pytz==2021.3
PyYAML==6.0
pyzmq==23.0.0
ratelim==0.1.6
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
roboflow==1.1.14
rsa==4.9
rubicon-objc==0.4.6
s3transfer==0.10.0
sahi==0.11.15
scipy==1.11.4
seaborn==0.13.0
Send2Trash==1.8.0
sh==1.14.3
shapely==2.0.2
shortuuid==1.0.9
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.4.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.27
sqlparse==0.4.2
stack-data==0.2.0
supervision==0.17.1
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.15.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
tinycss2==1.1.1
toml==0.10.2
torch==2.1.2
torchvision==0.16.2
tornado==6.1
tqdm==4.66.1
traitlets==5.2.1.post0
twilio==7.7.0
typing_extensions==4.9.0
tzdata==2023.3
ultralytics==8.0.229
urllib3==2.0.4
vine==5.0.0
voila==0.3.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
Werkzeug==2.3.6
whitenoise==5.3.0
wsproto==1.1.0
yarg==0.1.9
yolov5==7.0.13
yolov7==0.0.1
zipp==3.16.2
zope.event==4.5.0
zope.interface==5.4.0
