<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlindVision</title>
    <link rel="shortcut icon" href="#">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/camera.css') }}">
  </head>

  <body>
    <form action="/how" id = 'how'>
      <button id="top-right-button">How To?</button>
    </form>

    <form action="/" id = 'form2'>
    </form>
    <form action="/chat2" id = 'form1'>
    </form>
    <canvas id="canvas" width="400" height="300" hidden></canvas>

    <form action="/logout"hidden >
      <button>Logout</button>
    </form>
  
      <div id="password-container">

      {% for letter in letters %}
      <button class="password-btn" id = {{letter}}>{{ letter }}</button>
      {% endfor %}
  
      <button class="password-btn" id="123">123</button>
      </div>

      <div id="bottomQuarter">
      <button id="space" onclick="space()">space</button>

        <div id="controlconatainer">
            <button class="control-btn" onclick="deleteLastCharacter()" id="back"></button>
            <button class="control-btn" onclick="clearPassword()" id = "clear"></button>
            <button class="control-btn" id="speech" onclick="GetSpeech()" hidden></button>
            <button class="control-btn" onclick="stopSpeaking()" style="color: blue;">STOP</button>
        </div>
        <div id="controlconatainer">
          <button class="control-btn" id="repeat" onclick="RepeatSent()" hidden></button>
          <button class="control-btn" id="send" onclick="serverMsg()" hidden></button>
          <button class="control-btn" id="talk" onclick="talk()" hidden></button>
        </div>

        <div id="display-password"></div>

      <div id="videoContainer">
          <video autoplay playsinline id="videoElement"></video>
      </div>
    </div>

    <script src="{{ url_for('static',filename='js/cam_input1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/cam_vid1.js') }}"></script>
  </body>
</html>
