<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlindVision</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>
    <form action="/login" method="post" id="loginform">
        <input type="text" name="username" id="user">
        <input type="text" name="password" id="pass">
    </form>

    <form action="/signup" method="post" id="signupform">
        <input type="text" name="username" id="user1" hidden>
        <input type="text" name="password" id="pass1" hidden>
    </form>
    
    <div id="bc">
        <button id="butlog" class="button2" style="margin-left: 10px;">Login</button>

        <button id="butsig" class="button2" style="margin-left: 10px;">Sign Up</button>
    </div>

    <div id="password-container">

        {% for letter in letters %}
        <button class="password-btn" id = {{letter}}>{{ letter }}</button>
        {% endfor %}
    
        <button class="password-btn" id="123">123</button>
    </div>

<div id="centered">
    <div id="controlconatainer">
        <button class="control-btn" onclick="deleteLastCharacter()" id="back"></button>
        <button class="control-btn" onclick="clearPassword()" id = "clear"></button>
        <button class="control-btn" onclick="right()" id = "right" style="color: black;">
        {% if not right %}
            Result
        {% endif %}
        {{right}}
    </button>
    </div>
</div>

    <script src="{{ url_for('static',filename='js/login.js') }}"></script>

</body>
</html>