<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlindVision</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/yolo.css') }}">
</head>
<body>
    <form action="/">
    </form>
    <canvas id="canvas" width="400" height="300" hidden></canvas>

    <form action="/logout"hidden >
      <button>Logout</button>
    </form>

    <button id="input" style="background-color: transparent; width: 100vw; height: 43vh; font-size: xx-large; color: rgb(255, 255, 255);"></button>

    <button id="input2" style="background-color: transparent; width: 100vw; height: 43vh; font-size: xx-large; color: rgb(255, 255, 255);"></button>

        
      <div id="videoContainer">
          <video autoplay playsinline id="videoElement"></video>
      </div>

      <script src="{{ url_for('static',filename='js/yolo.js') }}"></script>

    </body>
</html>